@use '../variables' as v;
@use '../mixins';

.help-button {
  background-color: v.$help-color !important;
  color: v.$black !important;
  border: v.$border-width v.$border-style v.$border-color-default !important;
  border-radius: v.$border-radius-full !important;
  text-transform: v.$text-transform-none !important;
  font-size: v.$font-size-help-button !important;
  font-weight: v.$font-weight-medium !important;
  padding: v.$spacing-help-button-y v.$spacing-help-button-x !important;

  display: v.$flex;
  align-items: v.$center;
  gap: v.$icon-gap;

  svg {
    font-size: v.$font-size-xxl;
    color: v.$black !important;
  }

  &:hover {
    background-color: v.$help-hover-color !important;
  }
}
