@use '../variables.scss';
@use '../mixins.scss';
@use '../components/MainActionButton';
@use "sass:color";

.ajustes-adulto {
  min-height: 100vh;
  background-color: variables.$background-color;

  .main-content {
    text-align: center;
    padding: variables.$spacing-xl;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .ajustes-options {
    margin-bottom: variables.$spacing-xl;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: variables.$spacing-lg;
    
    .ajuste-button {
      @extend .main-action-button;
    }
  }

  .back-section {
    display: flex;
    justify-content: center;
    gap: variables.$spacing-lg;
    margin-top: variables.$spacing-lg;

    .back-button {
      @extend .volver-button;
      margin-top: 12rem !important;
      max-width: 150px;
    }

    .guardar-button {
      @extend .guardar-button;
      max-width: 150px;
    }
  }
}
