@use "sass:color";
@use '../variables';
@use '../mixins';
@use '../components/MainActionButton';

.ajustes-infante {
  min-height: 100vh;
  background-color: variables.$background-color;
  
  .main-content {
    padding: variables.$spacing-xl;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0.4rem !important;
  }
  
  .ajustes-options {
    margin-bottom: variables.$spacing-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: variables.$spacing-lg;
    
    .ajuste-button {
      @extend .main-action-button;
    }
  }
  
  .help-section {
    margin-top: 5.5rem;
    .help-button {
      @include mixins.button-help;
      font-size: variables.$font-size-lg;
      padding: variables.$spacing-lg variables.$spacing-xl;
      border-radius: variables.$border-radius-lg;
      min-width: 200px;
      margin-bottom: variables.$spacing-xl !important;
    }
  }
  
  .back-section {
    display: flex;
    justify-content: center;
    margin-top: variables.$spacing-lg;

    .back-button {
      @extend .volver-button;
      max-width: 150px;
    }
  }
}
