.historial-container {
  padding: 20px;
  text-align: center;
  background-color: #c5dfe0;
  height: 100vh;
}

.historial-title {
  font-size: 1.8rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.cancelaciones-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cancelacion-card {
  background-color: #7fb069;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
}

.cancelacion-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.cancelacion-fecha {
  text-align: right;
  margin-top: 5px;
  font-size: 1rem;
}

.mark-read-button {
  background-color: #6d8b95 !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 10px 25px !important;
  margin-top: 30px !important;

  &:hover {
    background-color: #5a7880 !important;
  }
}
